{% extends 'base.html' %}

{% block title %}
    
{% endblock %}

{% block main %}
    <div class="image-container">
        <a href="{% url 'poeminput' %}">
            <img src="https://www.denofgeek.com/wp-content/uploads/2021/03/Doctor-Who-Daleks.jpg" alt="Poem Input">
            <h2>Create Poem</h2>        
        </a>
        <a href="{% url 'storyinput' %}">
            <img src="https://www.hiddentriforce.com/wp-content/uploads/2016/01/TWWP.jpg" alt="Story Input">
            <h2>Create Story</h2>        
        </a>
{% endblock %}
