{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <p>
        In a world of {{ adjective1 }} power and {{ adjective2 }} might,<br>
        Goku and Vegeta prepare for an epic fight.<br>
        With their {{ noun1 }} glowing and their {{ noun2 }} strong,<br>
        They unleash their energy and power on for long.
    </p>

    <p>
        Goku charges forward with a mighty {{ verb1 }},<br>
        While Vegeta strategizes and aims to {{ verb2 }}.<br>
        Their battles shake the earth, making mountains quake,<br>
        As they unleash their strength for goodness' sake.
    </p>

    <p>
        Their power rivals that of {{ celebrity1 }} and {{ celebrity2 }},<br>
        But it's their determination that sees them through.<br>
        With every punch and kick, their bodies take a toll,<br>
        But they keep fighting on, from their head to their {{ body1 }}.
    </p>

    <p>
        The energy surges through their {{ body2 }} like lightning,<br>
        As they push themselves to the brink, never once tiring.<br>
        Dragon Ball Z fans cheer and shout with glee,<br>
        As Goku and Vegeta fight to set the world free.
    </p>

    <p>
        With a final blast, the battle comes to an end,<br>
        And the Earth is safe, thanks to these warriors, my friend.<br>
        Their {{ adjective1 }} spirit and {{ adjective2 }} hearts inspire us all,<br>
        In the epic saga of Dragon Ball Z, standing tall.
    </p>
{% endblock %}
