{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <p>
        In Hogwarts, where magic is {{ adjective1 }} and {{ adjective2 }} bright,<br>
        Two {{ noun1 }} take flight, soaring with delight.<br>
        With wands in hand, they {{ verb1 }} through the halls,<br>
        Casting spells and charms, attending enchanted balls.
    </p>

    <p>
        Harry, the {{ celebrity1 }} with a lightning scar,<br>
        Uses his {{ body1 }} to chase the dark afar.<br>
        Hermione, a brilliant {{ celebrity2 }} with a mind so sharp,<br>
        Her {{ body1 }} brings knowledge, a gift that sparks.
    </p>

    <p>
        Together they {{ verb2 }} with courage and might,<br>
        Defeating villains and standing for what's right.<br>
        Their {{ noun2 }} filled with wonder and awe,<br>
        In a magical world where dreams never withdraw.
    </p>

    <p>
        So in this enchanting tale, we find,<br>
        The power of friendship, a love entwined.<br>
        With laughter and adventure, they embrace,<br>
        The magic of Hogwarts, a captivating place.
    </p>
{% endblock %}
