{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <p>
        In a land of {{ adjective1 }} forests so dark,<br>
        Where {{ noun1 }} and {{ noun2 }} leave their mark,<br>
        Geralt, the {{ adjective2 }} witcher so wise,<br>
        With his silver sword, ready to {{ verb1 }}.
    </p>

    <p>
        He roams the land with prowess and grace,<br>
        His keen senses sharp, no monster to chase.<br>
        His {{ celebrity1 }} eyes scan the night,<br>
        In search of creatures that hide from the light.
    </p>

    <p>
        With {{ body1 }} like steel, he fights without fear,<br>
        Slaying beasts with his {{ verb2 }} so sheer.<br>
        But amidst the battles, he finds respite,<br>
        In the arms of {{ celebrity2 }}, his love shining bright.
    </p>

    <p>
        In this world of magic, where destiny's spun,<br>
        Geralt stands tall, for justice, he's won.<br>
        With {{ body2 }} attuned to the whispers they say,<br>
        The Witcher roams on, a legend in play.
    </p>
{% endblock %}
