{% extends 'base.html' %}

{% block title %}
    
{% endblock %}

{% block main %}
    <h1></h1>

    <p>
        In a galaxy far, far away,<br>
        Two {{ adjective1 }} Jedi knights went to play.<br>
        With their trusty {{ noun1 }}s in hand,<br>
        They set out to protect the {{ noun2 }}s of the land.
    </p>

    <p>
        Their lightsabers {{ verb1 }} with a powerful hum,<br>
        As they fought against the Sith scum.<br>
        Swinging left and swinging right,<br>
        Their {{ body1 }}s guided them through the fight.
    </p>

    <p>
        Among the stars, they'd soar and {{ verb2 }},<br>
        Chasing adventure, never feeling blue.<br>
        They met {{ celebrity1 }} on Tatooine's sand,<br>
        And {{ celebrity2 }} in the cantina, playing in the band.
    </p>

    <p>
        With their minds as sharp as a {{ adjective2 }} blade,<br>
        They faced darkness and weren't afraid.<br>
        Their {{ body2 }}s pulsing with the Force,<br>
        Guiding them on their epic course.
    </p>

    <p>
        Through battles and victories, they grew strong,<br>
        Their legend echoed in the galaxy long.<br>
        May the Force be with them, forevermore,<br>
        As they continue their journey, to explore.
    </p>
{% endblock %}
