{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <p>
        In the realm of {{ adjective1 }} gods, Kratos roars,<br>
        With {{ adjective2 }} rage, he settles old scores.<br>
        His mighty {{ noun1 }} cleaves through the air,<br>
        As he battles fierce monsters without a care.
    </p>

    <p>
        His {{ noun2 }} pulsates with raw power,<br>
        As he fights his way through each perilous hour.<br>
        He {{ verb1 }} through enemies with lightning speed,<br>
        Leaving a trail of destruction in his wake, indeed!
    </p>

    <p>
        Like {{ celebrity1 }} wielding divine might,<br>
        Kratos conquers all, never backing down from a fight.<br>
        His {{ body1 }} throbs with a warrior's might,<br>
        As he vanquishes his foes in the darkest night.
    </p>

    <p>
        With {{ verb2 }} grace, he jumps and he soars,<br>
        An unstoppable force, that's what he adores.<br>
        Kratos, a legend, just like {{ celebrity2 }},<br>
        His story forever etched, a tale of triumph and truth.
    </p>
{% endblock %}
