{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <br>
    <h1>Create a Story</h1>
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button>Create</button>
        </div>
    </form>

{% endblock %}
