{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <div class="text-container">
        <p>
            Once upon a time in the kingdom of Hyrule, there lived a(n) <span class="bold-placeholder">{{ adjective1 }}</span> young hero named Link.
            He possessed a(n) <span class="bold-placeholder">{{ adjective2 }}</span> sword and a(n) <span class="bold-placeholder">{{ adjective3 }}</span> shield, ready to embark on an epic journey.
            His mission was to rescue Princess Zelda from the clutches of the wicked Ganondorf.
        </p>

        <p>
            With his trusty steed Epona, Link ventured into the vast and <span class="bold-placeholder">{{ adjective4 }}</span> Hyrule Field, filled with lush green grass and towering mountains.
            Along the way, he encountered a mischievous fairy named Navi, who guided him through his perilous quest.
        </p>

        <p>
            Their first destination was the mysterious Kokiri Forest, home to a(n) <span class="bold-placeholder">{{ adjective5 }}</span> tribe of forest dwellers.
            Link met a(n) <span class="bold-placeholder">{{ noun1 }}</span> named Saria, who gifted him a(n) <span class="bold-placeholder">{{ noun2 }}</span> to aid him on his journey.
            It was a magical item that allowed him to travel through time, known as the Ocarina of Time.
        </p>

        <p>
            Armed with the Ocarina, Link ventured into the treacherous Death Mountain.
            He encountered a giant rock creature known as a Dodongo.
            With his sword in hand, he <span class="bold-placeholder">{{ verb1 }}</span> the fearsome creature, overcoming its fiery breath.
        </p>

        <p>
            Continuing his journey, Link arrived at the beautiful Lake Hylia.
            Here, he met a(n) <span class="bold-placeholder">{{ celebrity1 }}</span>, who was renowned for their mastery of archery.
            Impressed by Link's skills, the celebrity offered him a(n) <span class="bold-placeholder">{{ noun3 }}</span> to assist him in his battles.
        </p>

        <p>
            Next, Link traveled to the bustling marketplace of Hyrule Castle Town.
            There, he stumbled upon a hidden passage that led him to the depths of the Shadow Temple.
            The temple was filled with eerie darkness and terrifying creatures, making Link's <span class="bold-placeholder">{{ body1 }}</span> tingle with fear.
        </p>

        <p>
            However, Link's determination pushed him forward, as he encountered a friendly ghost named Sheik.
            Sheik revealed their true identity as a(n) <span class="bold-placeholder">{{ celebrity2 }}</span>, and taught Link a powerful melody on his Ocarina, granting him the ability to manipulate time.
        </p>

        <p>
            Using his newfound time-traveling abilities, Link ventured into the future and witnessed the devastating ruins of a once-thriving town.
            The sight left him feeling <span class="bold-placeholder">{{ adjective6 }}</span>, but he knew he had to press on.
        </p>

        <p>
            Finally, Link confronted Ganondorf in the foreboding realm of Ganon's Tower.
            With a mighty swing of his sword, he <span class="bold-placeholder">{{ verb2 }}</span> the evil tyrant, rescuing Princess Zelda and restoring peace to the kingdom of Hyrule.
        </p>

        <p>
            As the sun set on Link's legendary adventure, the people of Hyrule celebrated his heroism.
            He was hailed as a(n) <span class="bold-placeholder">{{ adjective7 }}</span> and <span class="bold-placeholder">{{ adjective8 }}</span> savior, forever remembered in the annals of history.
        </p>

        <p>
            Link, Zelda, and the entire kingdom of Hyrule lived happily ever after, with the memory of their grand adventure etched in their hearts.
        </p>
    </div>
{% endblock %}
