{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <div class="text-container">
        <p>
            Once upon a/an <span class="bold-placeholder">{{ adjective1 }}</span> day in the <span class="bold-placeholder">{{ adjective2 }}</span> world of Attack on Titan, the <span class="bold-placeholder">{{ adjective3 }}</span> protagonist, <span class="bold-placeholder">{{ name1 }}</span>, woke up feeling <span class="bold-placeholder">{{ adjective4 }}</span>.
            He stretched his <span class="bold-placeholder">{{ body1 }}</span> and yawned, ready to face another day of <span class="bold-placeholder">{{ adjective5 }}</span> adventures.
        </p>

        <p>
            <span class="bold-placeholder">{{ name1 }}</span>'s <span class="bold-placeholder">{{ adjective6 }}</span> friends, <span class="bold-placeholder">{{ name2 }}</span> and <span class="bold-placeholder">{{ celebrity1 }}</span>, joined him for breakfast in the <span class="bold-placeholder">{{ adjective7 }}</span> mess hall.
            As they ate their <span class="bold-placeholder">{{ adjective8 }}</span> meals, they discussed their plan to <span class="bold-placeholder">{{ verb1 }}</span> the mighty Titans and protect humanity.
            <span class="bold-placeholder">{{ name1 }}</span>, with determination in his <span class="bold-placeholder">{{ body2 }}</span>, declared, "We will <span class="bold-placeholder">{{ verb2 }}</span> them all!"
        </p>

        <p>
            Equipped with their <span class="bold-placeholder">{{ adjective9 }}</span> maneuver gear, the trio set off on their <span class="bold-placeholder">{{ adjective10 }}</span> mission.
            The city walls towered above them, providing a sense of <span class="bold-placeholder">{{ adjective1 }}</span> security.
            However, little did they know that danger lurked around the corner.
        </p>

        <p>
            Suddenly, a colossal Titan emerged, casting a <span class="bold-placeholder">{{ adjective2 }}</span> shadow over the city.
            <span class="bold-placeholder">{{ name1 }}</span>'s heart raced as he shouted, "Everyone, <span class="bold-placeholder">{{ verb3 }}</span> for your lives!"
            The ground shook beneath their feet as the Titan unleashed its <span class="bold-placeholder">{{ noun1 }}</span> and <span class="bold-placeholder">{{ verb4 }}</span> buildings with each step.
        </p>

        <p>
            With the help of their <span class="bold-placeholder">{{ adjective3 }}</span> comrades, <span class="bold-placeholder">{{ name1 }}</span>, <span class="bold-placeholder">{{ name2 }}</span>, and <span class="bold-placeholder">{{ celebrity1 }}</span> devised a plan to <span class="bold-placeholder">{{ verb5 }}</span> the colossal Titan.
            They lured it away from the city, using <span class="bold-placeholder">{{ noun2 }}</span> as bait.
            <span class="bold-placeholder">{{ name1 }}</span>, fueled by his <span class="bold-placeholder">{{ adjective4 }}</span> determination, transformed into a Titan himself and engaged in a <span class="bold-placeholder">{{ adjective5 }}</span> battle with the colossal Titan.
        </p>

        <p>
            The fight was intense, with the Titans exchanging <span class="bold-placeholder">{{ noun3 }}</span> and <span class="bold-placeholder">{{ noun4 }}</span> blows.
            Sweat dripped from <span class="bold-placeholder">{{ name1 }}</span>'s <span class="bold-placeholder">{{ body2 }}</span> as he pushed his <span class="bold-placeholder">{{ adjective5 }}</span> strength to the limit.
            Just when it seemed like all hope was lost, two unexpected allies arrived to save the day.
        </p>

        <p>
            Celebrities <span class="bold-placeholder">{{ celebrity1 }}</span> and <span class="bold-placeholder">{{ celebrity2 }}</span>, known for their <span class="bold-placeholder">{{ adjective6 }}</span> skills and <span class="bold-placeholder">{{ noun5 }}</span>, joined the fight.
            With their expertise, the tide of the battle turned in favor of humanity.
            Together, they defeated the colossal Titan, saving the city from destruction.
        </p>

        <p>
            As the dust settled, <span class="bold-placeholder">{{ name1 }}</span>, <span class="bold-placeholder">{{ name2 }}</span>, and <span class="bold-placeholder">{{ celebrity1 }}</span> celebrated their hard-fought victory.
            They knew that the battle against the Titans was far from over, but with their <span class="bold-placeholder">{{ adjective7 }}</span> hearts and the support of their friends, they were ready to face any challenge that lay ahead.
        </p>
    </div>
{% endblock %}
