{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <div class="text-container">
        <p>
            Once upon a time, in a/an <span class="bold-placeholder">{{ adjective1 }}</span> city, the Avengers assembled for a/an <span class="bold-placeholder">{{ adjective2 }}</span> mission.
            Iron Man, played by the celebrity <span class="bold-placeholder">{{ celebrity1 }}</span>, and Captain America, played by the celebrity <span class="bold-placeholder">{{ celebrity2 }}</span>, joined forces with their fellow superheroes.
        </p>

        <p>
            Their first task was to locate the <span class="bold-placeholder">{{ adjective3 }}</span> Infinity Stones before the villainous Thanos could get his hands on them.
            They needed to be <span class="bold-placeholder">{{ verb1 }}</span> at all times to outsmart the evil mastermind.
        </p>

        <p>
            Black Widow, with her <span class="bold-placeholder">{{ adjective4 }}</span> combat skills, used her wit and agility to <span class="bold-placeholder">{{ verb2 }}</span> through enemy lines.
            The Hulk, with his <span class="bold-placeholder">{{ adjective5 }}</span> strength, smashed everything in his path.
            Thor, the god of <span class="bold-placeholder">{{ noun1 }}</span>, wielded his <span class="bold-placeholder">{{ noun2 }}</span> to unleash thunderous attacks.
        </p>

        <p>
            As they traveled to different dimensions, they encountered strange creatures and treacherous environments.
            Spider-Man, with his <span class="bold-placeholder">{{ adjective6 }}</span> senses, swung from <span class="bold-placeholder">{{ noun3 }}</span> to <span class="bold-placeholder">{{ noun4 }}</span> with his <span class="bold-placeholder">{{ body1 }}</span>.
            Doctor Strange, with his <span class="bold-placeholder">{{ adjective7 }}</span> powers, cast spells to <span class="bold-placeholder">{{ verb3 }}</span> their enemies.
        </p>

        <p>
            During their adventure, they met two peculiar beings named <span class="bold-placeholder">{{ name1 }}</span> and <span class="bold-placeholder">{{ name2 }}</span>.
            <span class="bold-placeholder">{{ name1 }}</span> had a/an <span class="bold-placeholder">{{ adjective8 }}</span> personality and a/an <span class="bold-placeholder">{{ adjective9 }}</span> voice, while <span class="bold-placeholder">{{ name2 }}</span> had a/an <span class="bold-placeholder">{{ adjective10 }}</span> sense of humor and an infectious laugh.
            They joined the Avengers on their quest and provided valuable assistance.
        </p>

        <p>
            In the final battle against Thanos, Iron Man sacrificed himself to save the universe.
            The Avengers fought with all their might, using their <span class="bold-placeholder">{{ noun5 }}</span> and <span class="bold-placeholder">{{ body2 }}</span> to defeat the Mad Titan once and for all.
        </p>

        <p>
            With the mission accomplished, the Avengers returned to their base, tired but victorious.
            They celebrated their triumph, knowing that the world was safe thanks to their <span class="bold-placeholder">{{ adjective1 }}</span> teamwork and <span class="bold-placeholder">{{ adjective2 }}</span> bravery.
        </p>
    </div>
{% endblock %}
