{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block main %}
    <h1></h1>

    <div class="text-container">
        <p>
            Once upon a time, in the land of Termina, there was a <span class="bold-placeholder">{{ noun1 }}</span> named Link.
            Link was a <span class="bold-placeholder">{{ adjective1 }}</span> and <span class="bold-placeholder">{{ adjective2 }}</span> hero, known for his <span class="bold-placeholder">{{ body1 }}</span> of courage and his <span class="bold-placeholder">{{ body2 }}</span> of determination.
            One day, while exploring the <span class="bold-placeholder">{{ adjective3 }}</span> and <span class="bold-placeholder">{{ adjective4 }}</span> Clock Town, Link stumbled upon a mysterious <span class="bold-placeholder">{{ noun2 }}</span>.
        </p>

        <p>
            Curiosity piqued, Link approached the <span class="bold-placeholder">{{ noun2 }}</span> cautiously.
            Suddenly, a <span class="bold-placeholder">{{ adjective5 }}</span> and <span class="bold-placeholder">{{ adjective6 }}</span> voice echoed from the <span class="bold-placeholder">{{ noun2 }}</span>.
            It was the Happy Mask Salesman, a <span class="bold-placeholder">{{ noun3 }}</span> known for his eccentricity and ability to transform <span class="bold-placeholder">{{ noun4 }}</span> into <span class="bold-placeholder">{{ noun5 }}</span>.
            He pleaded with Link to help him retrieve a stolen <span class="bold-placeholder">{{ noun4 }}</span>, the powerful Majora's Mask, from the mischievous <span class="bold-placeholder">{{ adjective7 }}</span> and <span class="bold-placeholder">{{ adjective8 }}</span> Skull Kid.
        </p>

        <p>
            Without hesitation, Link agreed to the Happy Mask Salesman's request.
            He embarked on an <span class="bold-placeholder">{{ adjective9 }}</span> and <span class="bold-placeholder">{{ adjective10 }}</span> quest through the <span class="bold-placeholder">{{ noun1 }}</span>-filled lands of Termina, seeking to stop the Skull Kid's <span class="bold-placeholder">{{ verb1 }}</span> plans.
            Along the way, Link encountered numerous <span class="bold-placeholder">{{ noun5 }}</span> and faced daunting challenges that tested his <span class="bold-placeholder">{{ noun1 }}</span> skills.
        </p>

        <p>
            With each <span class="bold-placeholder">{{ noun5 }}</span> he encountered, Link used his <span class="bold-placeholder">{{ verb2 }}</span> ability to unravel their secrets and aid the troubled <span class="bold-placeholder">{{ noun2 }}</span> he encountered.
            From helping the lovesick <span class="bold-placeholder">{{ noun2 }}</span> reunite with their lost <span class="bold-placeholder">{{ noun3 }}</span> to assisting a <span class="bold-placeholder">{{ noun2 }}</span> retrieve their stolen <span class="bold-placeholder">{{ noun4 }}</span>, Link's acts of kindness had a profound impact on the people of Termina.
        </p>

        <p>
            In his final showdown with the Skull Kid, Link's <span class="bold-placeholder">{{ body1 }}</span> of courage and <span class="bold-placeholder">{{ body2 }}</span> of determination were put to the ultimate test.
            With the help of the powerful Fierce Deity Mask, a transformation bestowed upon him by the Four <span class="bold-placeholder">{{ noun4 }}</span>, Link engaged in a <span class="bold-placeholder">{{ verb3 }}</span> battle against the Skull Kid and his <span class="bold-placeholder">{{ adjective9 }}</span> and <span class="bold-placeholder">{{ adjective10 }}</span> minions.
        </p>

        <p>
            In the end, Link emerged victorious, banishing the Skull Kid and Majora's Mask from Termina.
            The land was saved, and its inhabitants rejoiced in the <span class="bold-placeholder">{{ adjective1 }}</span> and <span class="bold-placeholder">{{ adjective2 }}</span> hero's triumph.
            Link bid farewell to the Happy Mask Salesman, knowing that his journey in Termina had come to an end.
        </p>

        <p>
            As Link rode off into the sunset, the people of Termina sang songs of his bravery and celebrated his status as a <span class="bold-placeholder">{{ adjective1 }}</span> legend.
            He left behind a legacy of hope, reminding all who heard his tale that even in the face of darkness, the power of <span class="bold-placeholder">{{ noun1 }}</span> and the bonds of friendship can conquer any evil.
        </p>
    </div>
{% endblock %}
