
:root {
    --primary-color: #003A6E; 
    --secondary-color: #C0C0C0; 
  }
  

  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr); 
    font-size: 20px;
}
  

  header {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li:not(:last-child) {
    margin-right: 50px;
  }
  
  nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 30px;
  }
  
  
  main {
    margin: 20px;
  }
  
  h1 {
    color: var(--secondary-color);
    text-align: center;
  }

  h2 {
    color: var(--secondary-color);
  }
  
  .bold-placeholder {
    font-weight: bold;
  }
  

  footer {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .text-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: var(--primary-color);
}

.text-container p {
    margin-bottom: 10px; 
}

button {
  font-size: 24px;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}


.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.image-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-container p {
  margin-top: 10px;
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.banner img {
  max-width: 20%;
  height: auto;
}