{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/madlib.css' %}">
</head>
<body>
    <header>
        <div class="banner">
            <img src="https://madlibsgenerator.com/static/main/logo.png" alt="Banner Image">
        </div>
        <br>
        <br>
        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Home</a></li>
                <li><a href="{% url 'poeminput' %}">Create Poem</a></li>
                <li><a href="{% url 'storyinput' %}">Create Story</a></li>
              </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    
    <footer>
        Made by Suzanne Bisht. Hack Reactor 2023.
    </footer>
</body>
</html>
